
        #map {
            background-color: #fafaf8
        }
        html, body, #map {
			overflow: hidden;
        }
        .col9{
			height: 100%!important;
		}
		.col3{
			height: 100%;
			overflow: auto;
		}
        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background-color:#f8f8f8 !important;
            color: #444444 !important;
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }
        .info h2 {
            margin: 0 0 5px;
            color:#0f5fc5;
        }
        .leaflet-container {
            background: #fff;
            padding-right: 10px;
        }
        .leaflet-popup-scrolled {
            border-bottom: unset!important;
            border-top: unset!important;
        }
        .leaflet-popup-content{
            max-height: 70vh;
            max-width: 70vw;
        }
        .leaflet-popup-content.media{
            width: auto!important;
            height: auto!important;
        }
        .leaflet-popup-content th {
            text-align: left;
            vertical-align: top;
            min-width: 75px;
        }
        .leaflet-popup-content td {
            min-width: 75px;
        }
        .leaflet-popup-content td img {
            max-height: 60vh;
            max-width: 60vw;
        }

        .leaflet-tooltip {
            background: none;
            box-shadow: none;
            border: none;
        }
        .leaflet-tooltip-left:before, .leaflet-tooltip-right:before {
            border: 0px;
        }
        
        .fa, .leaflet-container, a {
            color: #444444 !important;
        }
        .leaflet-control-zoom-in, .leaflet-control-zoom-out,
        .leaflet-control-locate a,
        .leaflet-touch .leaflet-control-geocoder-icon,
        .leaflet-control-search .search-button,
         .leaflet-control-measure {
            background-color: #f8f8f8 !important;
            border-radius: 0px !important;
            color: #444444 !important;
        }
        .abstract {
            font: bold 18px 'Lucida Console', Monaco, monospace;
            text-indent: 1px;
            background-color: #f8f8f8 !important;
            width: 30px !important;
            color: #444444 !important;
            height: 30px !important;
            text-align: center !important;
            line-height: 30px !important;
        }
        .abstractUncollapsed {
            padding: 6px 8px;
            font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
            background-color:#f8f8f8 !important;
            color: #444444 !important;
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
            max-width: 40%;
        }
        .leaflet-control {
            box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4)!important;
            border-radius: 4px;
        }
        .leaflet-touch .leaflet-control-layers,
        .leaflet-touch .leaflet-bar,
        .leaflet-control-search,
        .leaflet-control-measure {
            border: 3px solid rgba(255,255,255,.4) !important;
        }
        .leaflet-control-attribution a {
            color: #0078A8 !important;
        }
        .leaflet-control-scale-line {
            border: 2px solid #0f5fc5 !important;
            border-top: 2px solid #0f5fc5 !important;
            background-color: #ffffff;
            color: black !important;
        }
        .leaflet-control-search .search-button {
            width: 30px !important;
            height: 30px !important;
            font-size: 13px !important;
            text-align: center !important;
            cursor: pointer;
        }
        .search-button.fa.fa-binoculars{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .leaflet-control-measure .leaflet-control {
            width: 30px !important;
            height: 30px !important;
        }
        .leaflet-container .leaflet-control-search{
            background: none !important;
        }
        .leaflet-control-search .search-input {
            margin: 0px 0px 0px 0px !important;
            height: 30px !important;
        }
        .leaflet-control-measure {
            background: none!important;
            border-radius: 4px !important;
        }
        .leaflet-control-measure .leaflet-control-measure-interaction {
            background-color: #f8f8f8 !important;
        }
        .leaflet-touch .leaflet-control-measure
        .leaflet-control-measure-toggle,
        .leaflet-touch .leaflet-control-measure
        .leaflet-control-measure-toggle:hover {
            width: 30px !important;
            height: 30px !important;
            border-radius: 0px !important;
            background-color: #f8f8f8 !important;
            color: #444444 !important;
            font-size: 13px;
            line-height: 30px;
            text-align: center;
            text-indent: 0%;
        }
        .leaflet-control-layers {
			padding: 2px;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
            background-color: #f8f8f8 !important;
            color: #444444 !important;

		}
        .leaflet-control-layers-expanded {
			padding-left: 6px;
		}	
        .leaflet-control-layers-expanded .leaflet-control-layers-toggle {
            display: block;
            background-image: none;
			text-decoration: none;
            margin-bottom: 3px;
        }
        .leaflet-control-layers-expanded .leaflet-control-layers-toggle::after {
            content: '»';
            font-size: x-large;
            color: #444444 !important;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            text-align: center;
        }
        .leaflet-overlay-pane {
            z-index: 550;
        }
        .leaflet-popup-pane {
            z-index: 700;
        }
        #gcd-button-control {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .leaflet-control-layers-expanded .leaflet-control-layers-toggle {
            display: none;
        }

        .plot-list th {
            background: #f8f8f8;
            position: sticky;
            top: 0;
            border-bottom:1px solid #0f5fc5;
            border-collapse: collapse;
            padding: 4px 6px;
        }
        
        #plot-div {
           max-height: 40vh;
           overflow: auto;
        }

        
        .plot-list td {
           vertical-align:top;
           padding:6px 8px;
           border-left:.5px solid rgba(248, 248, 248,.5);
           border-bottom:1px solid rgba(248, 248, 248,.5);
           color:#1e1e1e
        }
        
        .plot-list td:nth-child(1) {
           vertical-align:top;
           padding:6px 8px;
           border-left:none;
           font-weight:bold;
        }
       
         .plot-list tr.Interred {
            background-color: rgba(15, 95, 197,.5);
        }
        .plot-list tr.Reserved {
            background-color: rgba(103, 164, 244,.5);
        }
        .plot-list tr.Available {
            background-color: rgba(189, 215, 250,.5);
        }
        .plot-list tr.selected {
            background-color: rgba(255,255,0,1.0);
        }

        .plot-popup td:nth-child(1) {
           vertical-align:top;
           padding:6px 8px;
           border-bottom:1px solid #eee;
           width:30%;
           font-weight:bold;
        }

        .plot-popup td:nth-child(2) {
            padding:6px 8px;
            border-bottom:1px solid #eee;
        }
        #myInput {
            background-image: url('/css/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 95.5%;
            font-size: 14px;
            padding: 8px 8px 8px 8px;
            border: 1px solid #eee;
            margin-bottom: 6px;
        }

        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

        #myTable th, #myTable td {
            text-align: left;
            padding: 12px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

        #myTable tr.header, #myTable tr:hover {
            background-color: #f1f1f1;
        }
        .button {
            border: .5px solid rgba(35,35,35,1.0);
            color: white;
            padding-top: 12px;
            padding-left: 20px;
            text-align: center;
            text-decoration: none;
            display: inline;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button1 {background-color:rgba(15, 95, 197,.5);} 
        .button2 {background-color: rgba(103, 164, 244,.5);} 
        .button3 {background-color: rgba(189, 215, 250,.5);} 
